<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:component-scan base-package="bean" />
    <bean id="vehicle1" class="bean.Vehicle">
        <property name="vehicle_number" value="1234"></property>
        <property name="color" value="Black"></property>
        <property name="owner_name" value="Anusha"></property>
    </bean>
    <bean id="car1" class="bean.Car" scope="prototype">
        <property name="company" value="AUDI"></property>
        <property name="model" value="F6"></property>
        <property name="vehicle" ref="vehicle1"></property>
    </bean>
</beans>